<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style type="text/css">
        body {
            background-color: rgb(194, 194, 194);
            font-family: "Times New Roman", Times, serif;
        }


        .registerBTN {
            transition-duration: 0.4s;
            border-radius: 8px;
            padding: 14px 40px;
        }

        .registerBTN:hover {
            background-color: rgb(135, 10, 173);
            color: rgb(135, 10, 173);
        }

        h1 {
            color: rgb(135, 10, 173);
        }

        a:link {
            text-decoration: none;

        }
    </style>
</head>

<body>
    <br>
    <br>
    <br>

    <div class="container">
        <center>
            <h1>Hello everyone, this is a simple registration form made by <i><a href="https://github.com/Zaghdoudii">
                        Zaghdoudi Mohamed</a></i> </h1>
        </center>
        <br>
        <br>
        <br>

        <center>
            <button class="registerBTN">
                <a href="/register"> <b>Register</b></a>
            </button>
        </center>




    </div>
</body>

</html>